---
import { info } from "@data";
import { Icon } from "astro-icon";
---

<footer
	class="container flex flex-col justify-between items-center mb-8 sm:flex-row sm:mb-4"
>
	<p class="dark:text-light my-8">
		Made with <a
			class="dark:text-light underline decoration-dotted decoration-indigo-500"
			href="https://astro.build"
			target="_blank"
			aria-label="Astro Link"
		>
			Astro</a
		>
	</p>
	<div class="grid grid-cols-5 gap-4">
		<a
			aria-label="Github"
			href={info.socialMedia.github}
			target="_blank"
			class="footer-icons opacity-50 hover:opacity-100 ease-in-out"
		>
			<Icon name="line-md:github" width="24" />
		</a>
		<a
			aria-label="LinkeIn"
			href={info.socialMedia.linkedin}
			target="_blank"
			class="footer-icons opacity-50 hover:opacity-100 ease-in-out"
		>
			<Icon name="line-md:linkedin" width="24" />
		</a>
		<a
			aria-label="Email"
			href={`mailto:` + info.socialMedia.email}
			target="_blank"
			class="footer-icons opacity-50 hover:opacity-100 ease-in-out"
		>
			<Icon name="line-md:email" width="24" />
		</a>
	</div>
</footer>
