---
import { IProjects } from "@types";
import ProjectCard from "./ProjectCard.astro";

const { projects } = Astro.props as IProjects;
---

<div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-16 my-16">
	{projects.map((project) => <ProjectCard projectDetail={project} />)}
</div>
