---
import { info } from "@data";

import { IHeroProps } from "@types";
import ButtonWrapper from "@components/general/ButtonWrapper.astro";

const { name, about, greeting } = Astro.props as IHeroProps;
const Buttons = info.heroButtons;
---

<section>
	<p class="dark:text-light mt-[117px]">{greeting}, I’m</p>
	<h1>{name}</h1>
	<p class="dark:text-light text-lg mb-16">
		{about}
	</p>
</section>

<ButtonWrapper buttons={Buttons} />
