---
import { info } from "@data";

import { IHeroProps } from "@types";
import ButtonWrapper from "@components/general/ButtonWrapper.astro";

const { name, about, greeting } = Astro.props as IHeroProps;
const Buttons = info.heroButtons;
---

<section class="my-8">
	<p class="dark:text-gray">{greeting}, I’m</p>
	<h1>{name}</h1>
	<p class="dark:text-gray text-xl leading-8 text-justify max-w-6xl">
		<Fragment set:html={about} />
	</p>
</section>

<ButtonWrapper buttons={Buttons} />
